<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TheMinx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TheMinx.Properties.Settings.TheMinxConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TheMinx;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TheMinx.Properties.Settings.TheMinxConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TheMinx;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="thirdPartyAuthenticateSoapBinding">
                    <security mode="Transport"/>
                </binding>
              
                <binding name="thirdPartyAuthenticateSoapBinding1"/>
              
                <binding name="bettingSoapBinding">
                    <security mode="Transport"/>
                </binding>
              
                <binding name="bettingSoapBinding1"/>
              
                <binding name="accountManagementSoapBinding">
                    <security mode="Transport"/>
                </binding>
              
                <binding name="accountManagementSoapBinding1"/>

              <binding name="BasicHttpBinding_IRaceResults" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="999999" maxReceivedMessageSize="999999" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                <security mode="Transport">
                  <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                  <message clientCredentialType="UserName" algorithmSuite="Default"/>
                </security>
              </binding>

            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.tab.com.au/tabapi/services/thirdPartyAuthenticate" binding="basicHttpBinding" bindingConfiguration="thirdPartyAuthenticateSoapBinding" contract="wsTabAuth.ThirdPartyCustomerAuthenticateService" name="ThirdPartyCustomerAuthenticateServiceImplPort"/>
          
            <endpoint address="https://api.tab.com.au/tabapi/services/betting" binding="basicHttpBinding" bindingConfiguration="bettingSoapBinding" contract="wsTabBetting.BettingService" name="BettingServiceImplPort"/>
          
            <endpoint address="https://api.tab.com.au/tabapi/services/accountManagement" binding="basicHttpBinding" bindingConfiguration="accountManagementSoapBinding" contract="wsTabAccount.AccountMgmtService" name="AccountMgmtServiceImplPort"/>

          <endpoint address="https://api.tab.com.au/tabapi/services/informational/racing" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRaceResults" contract="wsTabRacing.RacingService" name="RacingServiceImplPort"/>
          
        </client>
    </system.serviceModel>
    <applicationSettings>
        <TheMinx.Properties.Settings>
            <setting name="TheMinx_wsTabAuth1_thirdPartyAuthenticate" serializeAs="String">
                <value>https://api.tab.com.au/tabapi/services/thirdPartyAuthenticate</value>
            </setting>
        </TheMinx.Properties.Settings>
    </applicationSettings>
</configuration>
